@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Geologica_Auto-Light.woff2') format('woff2'),
    url('../fonts/Geologica_Auto-Light.woff') format('woff'); 
}
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Geologica_Auto-Medium.woff2') format('woff2'),
    url('../fonts/Geologica_Auto-Medium.woff') format('woff'); 
}
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Geologica_Auto-SemiBold.woff2') format('woff2'),
    url('../fonts/Geologica_Auto-SemiBold.woff') format('woff'); 
}

@font-face {
  font-display: swap;
  font-family: 'Resagokr';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Resagokr.woff2') format('woff2'),
    url('../fonts/Resagokr.woff') format('woff'); 
}
@font-face {
  font-display: swap;
  font-family: 'Resagokr';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ResagokrLight.woff2') format('woff2'),
    url('../fonts//ResagokrLight.woff') format('woff'); 
}